:root{
 /* --sinapsis-color : #e511ec;
  --sinapsis-color-light : #ffaefa;
  --sinapsis-color-select : #f9bcfb;*/

  
    /*Sinapsis Azul*/
 /* --sinapsis-color : #118bec;
  --sinapsis-color-light : #deedfd;
  --sinapsis-color-select : #84bcf3;*/

  --sinapsis-color : rgba(242,109,10);
  --sinapsis-color-light : rgba(255,177,113,0.75);
  --sinapsis-color-select : rgba(221,143,79,0.75);

  
}
body *::-webkit-scrollbar {
    width: 1em;
}
 
body *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}
body *::-webkit-scrollbar {
    width: 0.5em;
}
 
body *::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 1px solid slategrey;
}
.input-50{
  width: 50px;
  outline: none;
  border:none;
}
.input-ct{
  border: none;
  width: 165px;
  outline: none;
}
.carrito-icon::before{
  content: "f2";
}
.bg-select{
  background-color: #f2f2f2 !important;
}
.W-100{
  widows: 100px !important;
}
.tabla-facturacion{
  table-layout: fixed;
  width: 100%;

}
.table-phone{
  display: none;
}

td,th{
  padding: 4px;
}
.sin-overflow-x{
  overflow-x: hidden;
}


.cell1{
  width: 10% !important;
}
.cell15{
  width: 15% !important;
}
.cell05{
  width: 5% !important;
}

.cell2{
  width: 20% !important;
}
.cell25{
  width: 25% !important;
}
.cell3{
  width: 30% !important;
}
.cell4{
  width: 40% !important;
}
.cell5{
  width: 50% !important;
}
.cell6{
  width: 60% !important;
}
.cell75{
  width: 75% !important;
}
.cell8{
  width: 80% !important;
}
.h-600{
  height: 900px !important;
  overflow-y: auto;
}
.cargando{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999999;
}
.logo{
  width:  150px;
}

.card-pedidos{
  width: 100%;
  box-shadow: 5px 5px 3px -1px #e3e3e2;
  padding: 10px;
  border-radius: 5px;
  border: solid darkgray 2px;
  margin-bottom: 12px;
  display: flex;
}
.card-pedidos-header{
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  display: flex;
}
.btn-options{
  width: 50px;
}

.id_factura{
 display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.closeModal{
  background-color: white;
  border-radius: 50px;
  padding: 2px;
}
.notificacion{
  z-index: 9999999;
  margin-bottom: 1em;
  position: fixed;
  
  background: var(--sinapsis-color) !important;
  box-shadow: 0px 10px 8px #e0e0e0;
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #fff;
  bottom: 5px;
  left: 5px;
  max-width: 500px;
  font-size: 1em;
  padding: 5px;
  font-style: initial;
  box-shadow: 2px 4px 21px #060606;

  max-width: 700px;
  max-height: 700px;

  overflow: auto;
}
.select-fact{
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 10px 8px #e0e0e0;
  color: gray !important;
  
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  opacity: 0.7;
}
.clickme{
      font-style: italic;
    font-weight: 900;
    color: forestgreen;
}
i{
  cursor: pointer;
}
.card-sinapsis{
  background: antiquewhite !important;
}

.t-5{
  opacity: 0.7 !important;
  transform: scale(0.8) !important;
}
.zoom-11{
  transform: scale(1.1);
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
.pago-numero input{
  border-width: 0;
  width: 100%;
  border: none;
  /*font-style: bold;
  font-weight: bold;
  font-size: x-large;*/
}
.w-30{
  width: 30% !important;
}
.w-20{
  width: 23% !important;
}
.w-10{
  width: 10% !important;
}
.input_clean{
  outline: none;
  border: 0;
  background-color: none;
}
/*Global*/

html, body {
  font-family: 'Nunito', sans-serif;
  
}

body{
  overflow-y: scroll !important;
  
}

.user{
  font-size: 0.8em;
  font-weight: bold;
}
.sucursal{
  font-size: 0.7em;

}
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.text-right{
  text-align: right;
}
.monto-header {
    color: rgb(249, 212, 185);
}
.card-success-pago{
   margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #7fffd42e !important;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;
}
.card-danger-pago{
   margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #b2222242 !important;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;

}
.card-sinapsis{
  margin-bottom: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #00000003;
  background-clip: border-box;
  border: 1px solid #bf9770;
  border-radius: 0.35rem;
  box-shadow: 1px 8px 13px -14px black;
  color: #00000085;
}
.card-sinapsis .descripcion{
  font-size: 1em;
  font-weight: bold;
}
.btn-outline-sinapsis{
  color: var(--sinapsis-color) !important;
  border-color: var(--sinapsis-color) !important;
}
.card-sinapsis .categoria{
  font-size: 0.8em;
  margin-left: 5px;
}

.card-sinapsis .suma{
  font-size: 1.2em;
  font-weight: bold;

}
.card-sinapsis .total{
  font-size: 1.5em;
  font-weight: bold;

}
.card-sinapsis .cantidad{
  font-size: 1.3em;
  font-weight: bold;

}
.card-sinapsis .pu{
  font-size: 1.3em;
  font-weight: bold;

}
.tag>.tag-num{
  margin-left: 4px;
  padding: 1px;
  background-color: #f3ece3 ;
  border-radius: 2px;
}
.tag{
  padding: 5px;
  border-radius: 5px;
  border-color: var(--sinapsis-color-select);
  background-color: #f3b660 ;
}
.App {
  text-align: center;
}
.bg-sinapsis{
  background-color: var(--sinapsis-color) !important;
  color: #fff !important;
  text-shadow: 0 0 black;

}

.bg-sinapsis-light{
  background-color: var(--sinapsis-color-light) !important;
  text-shadow: 0 0 black;
}
.bg-success-light{
  background-color: #e0fdde !important;
  text-shadow: 0 0 black;
}
    

    

.text-sinapsis{
  color: var(--sinapsis-color) !important;

}
.bg-sinapsis-select{
  background-color: var(--sinapsis-color-select) !important;

}
.btn-sinapsis{
  color: white !important;
  background-color: var(--sinapsis-color) !important;

}
.btn-sinapsis-border{
  color: var(--sinapsis-color) !important;
  background-color: white !important;
  border-color: var(--sinapsis-color) !important;

}
.btn-hacer-pedido{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  margin:0;
}

.app-logo {
  margin: 7px;
  height: 10vmin;
  pointer-events: none;
}


.app-body{
  padding-top: 1em;
}

